@{
    @model BookList;
}

<form asp-controller="Books" asp-action="Search" method="get">
    <input id="BookTitle" name="BookTitle" value="@ViewData["BookTitle"]" />
    <input type="image" src="~/images/icons/icon_search.png" class="search-Submit" />
</form>
<p class="foundBooks">Livros encontrados: @Model.totalItems</>

<div class="BookList">
    @foreach (var book in Model.items)
    {
        <div class="card" style="width: 10rm">
            @if (book.volumeInfo.imageLinks != null)
            {
                    <img class="card-img-top" src="@book.volumeInfo.imageLinks.smallThumbnail"  />
            }
            else
            {
                    <img class="card-img-top" src="~/images/CapaNãoEncontrada.png" />
            }

            <div class="card-body">
                <h5 class="card-title">@book.volumeInfo.title</h5>
                <br/>
                <h6 class="card-subtitle">Autores: </h6>
                    @if (book.volumeInfo.authors is not null)
                    {
                        @foreach (var author in book.volumeInfo.authors)
                        {
                            <p class="card-text">
                                @author
                            </p>
                        }
                    }


                <h6 class="card-subtitle">Editora: </h6>
                    <p>@book.volumeInfo.publisher</p>

                <h6 class="card-subtitle">Data de lançamento: </h6>
                    <p>@book.volumeInfo.publishedDate</p>
            </div>

            <div class="card-footer">
                <a asp-controller="Books" asp-action="bookDetails" asp-route-id="@book.id">Ver detalhes</a>
            </div>
        </div>
    }
</div>

<div class="search-Pagination">
        @if ((int)ViewData["startIndex"] >= 9)
        {
            <a asp-controller="Books" asp-action="Search"
               asp-route-BookTitle="@ViewData["BookTitle"]"
               asp-route-StartIndex="@((int)ViewData["startIndex"] - 9)"
               method="get">
                &lt
            </a>
        }
    <a  asp-controller="Books" asp-action="Search"
        asp-route-BookTitle="@ViewData["BookTitle"]"
        asp-route-StartIndex="@ViewData["startIndex"]"
        method="get">
            @(Math.Ceiling(Convert.ToDouble((int)ViewData["startIndex"]) / 9 + 0.0001))
        </a>


        @if ((int)ViewData["startIndex"] < Model.totalItems - 9)
        {
            <a asp-controller="Books" asp-action="Search"
               asp-route-BookTitle="@ViewData["BookTitle"]"
               asp-route-StartIndex="@((int) ViewData["startIndex"] + 9)"
               method="get">
                &gt
            </a>
        }
</div>


